@import '../../inc.scss';

.sight-map-layout {
    @include flex(column);

    &-map {
        height: 35vh;

        @include respond-to(desktop) {
            height: 40vh;
            min-height: 400px;
        }
    }
}
