@import '../../inc.scss';

.pagination {
    @include flex(row);
    justify-content: center;

    line-height: 2rem;

    &--links {
        position: relative;

        @include flex(row);
        justify-content: center;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            background: linear-gradient(to right, transparent, var(--color-primary), transparent);
            height: 1px;
            width: 100%;
            min-width: 200px;
        }
    }

    &--item {
        display: block;
        padding: 0 .7rem;
        cursor: pointer;

        &__active {
            font-weight: 900;
            color: var(--color-primary);
        }
    }
}
