.collection-edit {
    &--form {
        padding: .5rem 1rem;
    }

    &--textarea textarea {
        min-height: unquote('min(70vh, 250px)') !important;
        max-height: unset !important;
    }

    &--content__preview {
        padding: .5rem;
        margin: .5rem 0;

        border: 1px dashed var(--color-primary);
    }
}
