@import '../../inc.scss';

.feed-item {
    $padding-horizontal: 1rem;

    padding: .5rem $padding-horizontal;
    border-bottom: 1px dotted var(--color-primary, $color-primary-bg);

    position: relative;

    @include flex(column);

    &--header {
        @include flex(row);

        &-photo {
            @include size(3rem);
            min-width: 3rem;
            margin-right: $padding-horizontal;

            img {
                @include size(100%);
                border-radius: 1.5rem;
                object-fit: cover;
            }
        }

        &-content {
            @include flex(column);

            flex: 1;
            justify-content: center;

            line-height: 1.2rem;
        }

        &-info a {
            color: var(--color-active-element);
            font-weight: bold;
        }

        &-date {
            color: $color-label-fg;
        }
    }

    &--content {
        flex: 1 0;
        margin: .1rem 0;

        &__photo {
            //noinspection CssOverwrittenProperties
            &-image {
                max-width: 100%;
                //noinspection CssOverwrittenProperties
                max-height: 500px;
                max-height: 50vh;
            }
        }

        &__sight {
            &-map {
                width: 300px;
                height: 200px;
            }
        }

        &__comment {
            margin-top: .5rem;
        }
    }
}
