@import '../../inc.scss';
@import '../LoadingSpinner/style.scss';

@function compute-padding($height, $line-height) {
    @return ($height - $line-height) / 2;
}

@mixin button-size($height, $line-height) {
    min-height: $height;
    line-height: $line-height;
    padding: compute-padding($height, $line-height) .8rem;
}

.xButton {
    $default-size: 2rem;
    $animation-duration: .1s;
    $lh: 1.3rem;

    $button-sizes: (
        s: 1.5rem,
        m: $default-size,
        l: 2.5rem
    );

    margin: .3rem 0;
    padding: 0 .8rem;

    border: none;
    outline: none;

    @include button-size($default-size, $lh);

    background: $color-secondary-bg;
    color: $color-secondary-fg;

    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;

    transition:
        color $animation-duration linear,
        background $animation-duration linear;

    @each $code, $height in $button-sizes {

        &__size-#{$code} {
            @include button-size($height, $lh);
        }
    }

    // TODO
    $type: (
        ('primary', $color-primary-bg, #ffffff),
        ('secondary', $color-secondary-bg, #000000),
        ('attention', rgb(209, 35, 35), #ffffff),
        ('negative', rgb(175, 175, 175), #000000),
    );

    @each $name, $bg, $fg in $type {
        &__#{$name} {
            background: $bg;
            color: $fg;
        }

        &__#{$name}:disabled {
            background: transparentize($color: $bg, $amount: .15);
            color: transparentize($color: $fg, $amount: .2);
        }
    }

    &__transparent {
        background: transparent;
        color: inherit;
    }

    &__withIcon-label {
        margin-left: .5em;
    }

    &:disabled {
        cursor: not-allowed;
    }

    // Loading spinner
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - .5rem);
        left: calc(50% - .5rem);
        transition: opacity $animation-duration linear;
        opacity: 0;
        box-sizing: border-box;
    }

    &__loading {
        position: relative;
        color: transparent !important;

        &::after {
            @include size(1rem);

            border: 2px solid transparent;
            border-bottom-color: #ffffff;
            border-radius: 50%;

            opacity: 1;

            animation: loading-round .7s linear infinite;

            @keyframes loading-round {
                from { transform: rotate(0); }
                to { transform: rotate(360deg); }
            }
        }
    }

    & + & {
        margin-left: .2rem;
    }
}

a.xButton {
    display: inline-block;
}
