@import '../../../inc.scss';

.near {
    overflow: auto;

    $scroll-open-duration: 1s;

    h3 {
        padding: 4px 1rem;
        cursor: pointer;

        @media (min-width: $breakpoint-desktop) {
            cursor: default;
            padding: 4px .5rem;
        }
    }

    &-list {
        max-height: 0;
        transition: max-height $scroll-open-duration ease-out;
        overflow: hidden;

        @media (min-width: $breakpoint-desktop) {
            max-height: unset;
        }
    }

    &__open &-list {
        max-height: 100px * 15;
    }

    &-item {
        @include flex(row);
        padding: .5rem;

        & + & {
            border-top: 1px dashed gray;
        }

        &--photo {
            @include size(80px);
            object-fit: cover;
            border-radius: 50%;
            margin-right: .5rem;
        }

        &--content {
            flex: 1;

            &-distance {
                font-size: .8rem;
                color: var(--color-label, $color-label-fg);
            }
        }

        &--goto {
            display: flex;
            width: 2rem;
        }
    }
}
