@import '../../inc.scss';

.attention {
    padding: .75em 1.5em;
    line-height: 1.2;

    $types: (
        (error, var(--color-error-background), var(--color-error-border), var(--color-error-text)),
        (warning, var(--color-warning-background), var(--color-warning-border), var(--color-warning-text)),
        (info, var(--color-info-background), var(--color-info-border), var(--color-info-text)),
    );

    @each $name, $bg, $bc, $fg in $types {
        &__#{$name} {
            background: $bg;
            border: 1px solid $bc;
            color: $fg;
        }
    }
}
