@import '../../inc.scss';

.cityModal {
    &-item {
        line-height: 2rem;
        padding: 0 1rem;
        border: 1px solid transparent;
        cursor: pointer;

        &__selected {
            border-color: $color-primary-bg;
            color: $color-primary-bg;
            font-weight: 900;
        }
    }
}
