@import '../../inc.scss';

.visitStateSelector {
    @include flex(row);

    position: relative;

    border: 1px solid $color-primary-bg;
    color: $color-primary-bg;

    &-item {
        @include flex(column);
        align-items: center;
        flex: 1;

        padding: .4rem;

        cursor: default;
    }

    &__enabled &-item {
        cursor: pointer;
    }

    &__wait &-item {
        cursor: not-allowed;
    }

    &-graph {
        @include flex(row);
        align-items: center;
    }

    &-icon {
        @include size(2rem);
        margin-right: .5rem;

        .visitStateSelector__mini & {
            @include size(1.2rem);
            margin-right: .2rem;
        }
    }

    &-count {
        font-style: normal;
        font-size: 1.2rem;

        .visitStateSelector__mini & {
            font-size: .8rem;
        }
    }

    &-label {
        text-align: center;

        .visitStateSelector__mini & {
            display: none;
        }
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        border: 2px solid $color-secondary-bg;
        width: 50%;
        height: 100%;

        transition: transform .2s ease-in-out;
    }

    @for $i from 0 through 1 {
        &[data-visit-state-selected='#{$i}']::after {
            transform: translateX($i * 100%);
        }
    }

    &[data-visit-state-selected='-1']::after {
        display: none;
    }

    &[data-visit-state-selected='-1'] &-item:nth-child(1) {
        display: none;
    }
}
