@import '../../inc.scss';

.spinner-wrap {
    @include flex(column);
    align-items: center;

    margin: 4rem 0;

    &--subtitle {
        margin-top: 1rem;
        text-align: center;
        color: $color-label-fg;
    }
}
