@import '../../inc.scss';

.sight-gallery {
    position: relative;

    &--head {
        position: sticky;
        z-index: $zIndex-floatingHeader;
        top: var(--header-height);

        @include flex(row);
        justify-content: space-between;
        align-items: center;

        width: 100%;
        background: var(--color-background);
        color: var(--color-text);
        padding: 4px 1rem;
    }

    &--items {
        display: flex;

        .sight-gallery__grid &,
        .sight-gallery__list & {
            flex-shrink: 0;
        }

        .sight-gallery__grid & {
            flex-flow: row wrap;
        }

        .sight-gallery__list & {
            flex-flow: column nowrap;
        }

        .sight-gallery__empty & {
            display: block;
        }
    }

    &__empty &--head-switch {
        display: none;
    }

    &--footer {
        @include flex(row);
        justify-content: center;
        margin: .1rem 0;
    }
}
