@import '../../inc.scss';

.photos {
    &-list {
        @include flex(row);

        min-height: 8rem;
        overflow-x: auto;
        overflow-y: hidden;

        [data-count="0"] & {
            flex-direction: column;
        }
    }

    &__loading &-list {
        @include flex-center;
    }
}
