@import '../../inc.scss';

.main {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: $header-height;

    &-container {
        @include flex(row);

        @extend %container;

        width: 100%;

        main {
            position: relative;
            z-index: $zIndex-usualElement;
            flex: 1 0;
            background: #ffffff;
            max-width: 100%;

            @media (min-width: $breakpoint-pad) {
                box-shadow: 0 0 9px 3px rgba(0, 0, 0, .1);
            }
        }
    }
}
