@import '../../../inc.scss';

.search__users {
    // ?
}

.search-item__user {
    @include flex(row);

    padding: .75rem 1rem;

    &-photo {
        @include size(6rem);

        object-fit: cover;
        border-radius: 3rem;

        margin-right: 1rem;
    }

    &-content {
        &-name {
            color: var(--color-active-element);
        }

        &-username {
            color: var(--color-label);
        }

        &-shortInfo {
            margin-top: .2rem;
        }
    }
}
