@import '../../inc.scss';

.feed {
    position: relative;

    &-head {
        @include flex(row);
        position: sticky;
        background: var(--color-background-titles);
        color: var(--color-text-titles);
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: $zIndex-floatingHeader;
        padding: .4em 1em;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 7px 2px rgba(0, 0, 0, .1);
    }
}
