@import '../../inc.scss';

.feed {
    position: relative;

    &-head {
        position: sticky;
        background: rgba(255, 255, 255, .95);
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: $zIndex-floatingHeader;
        padding: .4em 1em;
        @include flex(row);
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 2px $color-label-fg;
    }
}
