@import '../../../inc.scss';

@function chunks-to-percent($n) {
    @return 1 / $n * 100%;
}

@mixin chunk-by-width-screen($screen, $chunks, $padding: null) {
    @media (min-width: $screen) {
        width: chunks-to-percent($chunks);

        @if ($padding != null) {
            padding: $padding;
        }
    }
}

.sight-gallery__grid--item {
    &-wrap {
        width: chunks-to-percent(2);
        padding: 1px;

        border-radius: 9px;
        overflow: hidden;

        @include chunk-by-width-screen(480px, 3);
        @include chunk-by-width-screen(580px, 4);
        @include chunk-by-width-screen($breakpoint-pad, 3);
        @include chunk-by-width-screen(820px, 4);
        @include chunk-by-width-screen(980px, 5);
        @include chunk-by-width-screen(1050px, 6);
        @include chunk-by-width-screen($breakpoint-desktop-wide, 7, 1px 3px);
    }

    &-link {
        @include flex(column);
        justify-content: space-between;
        position: relative;
        height: 100%;
        color: #ffffff;
    }

    &--photo {
        z-index: $zIndex-sight-gallery-grid-photo;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--icons {
        @include flex(row);
        justify-content: flex-end;
        z-index: $zIndex-sight-gallery-grid-content;
        height: 1.5rem;
        margin: .2rem .2rem 0 0;

        svg {
            height: 1.5rem;
        }
    }

    &--content {
        @include flex(column);
        z-index: $zIndex-sight-gallery-grid-content;
        padding-top: 45%;
        box-sizing: content-box;
        justify-content: center;

        h4 {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0;
            padding: 0 .6rem;
            line-height: 2rem;
            background: rgba(0, 0, 0, .5);

            @extend %nowrap-text;
        }
    }
}
