@import '../../inc.scss';

.xInput {
    // Отступ сверху
    $y-difference: 16px;

    // Размеры для вводимого пользователем текста
    // Для плейсхолера разница в 2px (из-за отсутствия border)
    $diff: 2px;
    $font-size: 16px;
    $height: 32px;

    position: relative;
    padding-top: $y-difference;
    margin: .5rem 0;
    overflow: hidden;

    input,
    label,
    textarea {
        padding: 0 .5rem;
    }

    input {
        height: $height;
        resize: none;
        line-height: $height;
    }

    textarea {
        min-height: $height;
        max-height: $height * 8;
        resize: vertical;
        line-height: 20px;
        padding: 6px .5rem;
    }

    input,
    textarea {
        display: inline-block;
        width: 100%;

        margin: 0;

        background: transparent;
        border: 1px solid var(--color-primary);
        color: var(--color-text);
        border-image: none;

        font: {
            size: $font-size;
            family: inherit;
        }
        text-align: left;

        &:invalid { // Firefox добавляет красную тень к :invalid
            box-shadow: none;
        }

        &:focus {
            // chrome-based добавляют оранжевую обводку
            outline: none;
        }
    }

    label {
        position: absolute;

        top: #{$y-difference + 1px};
        left: 0;

        transition: all .1s ease-out;
        transform-origin: left;

        line-height: #{$height - $diff};
        font-size: #{$font-size - $diff};
        color: var(--color-label);
        white-space: nowrap;

        pointer-events: none;
    }

    &__active label {
        transform: translate(0, #{-($y-difference * 1.5)}) scale(.75);
        color: var(--color-primary);
    }
}
