@import '../../inc.scss';

.profile {
    &-header {
        @include flex(row);
        margin: 1em;
    }

    &-photo {
        @include size(100px);
        overflow: hidden;
        margin-right: 1em;

        img {
            max-width: 100%;
            border-radius: 50%;
        }

        @media (min-width: $breakpoint-pad) {
            @include size(180px);
        }
    }

    &-content {
        flex: 1 0 auto;
        display: flex;
        flex-flow: column nowrap;
    }

    &-seen {
        color: $color-label-fg;
    }

    &-achievements {
        @include flex(row, wrap);

        &--item {
            flex: 1;
            @include flex(column);

            min-width: 30%;

            margin-bottom: .5rem;

            align-items: center;

            @media (min-width: $breakpoint-pad) {
                min-width: unset;
            }
        }

        &--icon {
            @include size(2rem);
            color: $color-primary-bg;
            margin-bottom: .5rem;
        }

        &--value {
            font-size: 1.1rem;
        }
    }

    h2,
    h3,
    h4 {
        font-weight: normal;
    }
}
