@import '../../inc.scss';

.profile {
    &-header {
        @include flex(row);
        margin: 1em;
    }

    &-photo {
        @include size(100px);
        overflow: hidden;
        border-radius: 50%;
        object-fit: cover;

        margin: {
            top: 4px;
            right: 1rem;
        };

        @include respond-to(pad) {
            @include size(180px);
        }
    }

    &-content {
        flex: 1 0 auto;
        display: flex;
        flex-flow: column nowrap;

        h1 {
            margin-top: 0;
        }
    }

    &-seen {
        color: $color-label-fg;
    }

    &-achievements {
        @include flex(row, wrap);

        &--item {
            @include flex(column);
            flex: 1;

            min-width: 30%;

            margin-bottom: .5rem;

            align-items: center;

            @include respond-to(pad) {
                min-width: unset;
            }
        }

        &--icon {
            @include size(2rem);
            color: $color-primary-bg;
            margin-bottom: .5rem;
        }

        &--value {
            font-size: 1.1rem;
        }
    }

    h2,
    h3,
    h4 {
        font-weight: normal;
    }

    &-sightGallery__empty {
        padding: 5rem .4rem;
        text-align: center;
        font-size: 1.2rem;
    }
}
