@import '../../../inc.scss';

.sight-edit {
    &-page {
        @include respond-to(desktop-wide) {
            @include flex(row);
            height: 100%;
        }
    }

    &-map,
    &-form {
        @include respond-to(desktop-wide) {
            width: 50%;
            flex: 1;
        }
    }

    &-map {
        height: 400px;
        max-height: 60vh;

        @include respond-to(desktop-wide) {
            height: 100%;
            max-height: unset;
        }
    }

    &-form {
        padding: .5rem 1rem;

        [name="description"] {
            min-height: 100px;
        }
    }
}
