@import '../../../inc.scss';

.sight-edit {
    &-page {
        @media (min-width: $breakpoint-desktop-large) {
            @include flex(row);
            height: 100%;
        }
    }

    &-map,
    &-form {
        @media (min-width: $breakpoint-desktop-large) {
            width: 50%;
            flex: 1;
        }
    }

    &-map {
        height: 400px;

        @media (min-width: $breakpoint-desktop-large) {
            height: unset;
        }
    }

    &-form {
        padding: .5rem 1rem;
    }
}
