$color-primary-bg: #009688;
$color-primary-fg: #FFFFFF;

$color-secondary-bg: #448AFF;
$color-secondary-fg: #000000;

$color-dark-bg: #424242;
$color-dark-fg: #9e9e9e;

$color-default-bg: #EFEFEF;
$color-default-fg: #000000;

$color-label-fg: #787878;

$color-error-bg: #EF5350;
$color-error-bc: #F44336;
$color-error-fg: #ffffff;

$color-warning-bg: #FFECB3;
$color-warning-bc: #FFD54F;
$color-warning-fg: #000000;

$color-info-bg: #A5D6A7;
$color-info-bc: #66BB6A;
$color-info-fg: #000000;
