@import './sizes.scss';
@import './classes.scss';

%container {
    @media (min-width: $breakpoint-pad) {
        max-width: $max-width-container;
        margin: 0 auto;
    }

    #{$class-body-wide} & {
        max-width: 100vw;

        @media (min-width: $breakpoint-desktop) {
            max-width: 80vw;
            min-width: $breakpoint-desktop - 10px;
            margin: 0 auto;
        }

        @media (min-width: $breakpoint-desktop-large) {
            max-width: $breakpoint-desktop-large - 40px;
        }
    }

    @media (min-width: $breakpoint-desktop-large) {
        max-width: $breakpoint-desktop-large;
    }
}

%hide-scrollbar {
    // Firefox 64+
    scrollbar-width: thin;

    ::-webkit-scrollbar {
        width: 8px;
    }
}

%nowrap-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

%user-text {
    white-space: pre-wrap;
}
