@import './colors.scss';

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin flex($direction, $wrap: nowrap) {
    display: flex;
    flex-flow: $direction $wrap;
}


$theme-default: (
    ('primary', (
        background: $color-primary-bg,
        color: $color-primary-fg
    )),
    ('secondary', (
        background: $color-secondary-bg,
        color: $color-secondary-fg
    ))
) !global;

@mixin apply-themes($themes: $themes-default) {
    @each $name, $rules in $themes {
        &__#{$name} {
            @include print-rules($rules);
        }
    }
}

@mixin print-rules($rules) {
    @each $name, $value in $rules {
        #{$name}: $value;
    }
}
