$zIndex-modalWindow: 951;
$zIndex-modalWrapper: 950;

$zIndex-siteHeader: 900;

$zIndex-menuContent: 710;
$zIndex-menuOverlay: 700;

$zIndex-floatingHeader: 500;

$zIndex-ratingBase: 440;

$zIndex-sight-gallery-grid-content: 50;
$zIndex-sight-gallery-grid-photo: 49;

$zIndex-usualElement: 40;
