@import '../../../inc.scss';

.tab-title {
    padding: 0 1rem;
    line-height: 3rem;
    cursor: pointer;
    margin-right: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-primary-darker);
    white-space: nowrap;

    &__selected {
        color: var(--color-primary);
        font-size: 1em;
    }

    &__disabled {
        color: var(--color-label);
        cursor: not-allowed;
    }

    &:last-child {
        margin-right: 0;
    }
}
